main

    .preview-request-id

        h2
            text-align: center
            margin-bottom: 50px

        .products
            display: grid
            grid-template-columns: repeat(4, 1fr)
            gap: 2rem
            margin: 0

            .product
                box-shadow: 0 0 5px rgba($color_c, 0.8)
                border-radius: 1rem
                background-color: $color_e
                width: 100%
                height: 100%
                position: relative
                transition-duration: 0.3s

                // Ads custom styles
                &.ad
                    display: flex
                    align-items: center
                    justify-content: center

                    a
                        padding: 0
                        overflow: hidden

                        img, video
                            width: 100%

                    .index-wrapper

                        .index
                            font-size: 1.6rem

                    img
                        width: 100%

                &:hover
                    box-shadow: 0 0 12px rgba($color_c, 1)
                    transform: translateY(-5px)

                .product-image
                    background-position: center
                    background-repeat: no-repeat
                    background-size: contain
                    height: 300px
                    width: 100%
                    display: flex
                    align-items: center
                    justify-content: center
                    margin-bottom: 2rem

                    img
                        width: 70%

                a
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: space-between
                    height: calc(100% - 2rem)
                    width: calc(100% - 2rem)
                    margin: 0 auto
                    padding: 1rem

                    .texts
                        width: 100%

                        p
                            margin: 0.1rem 0
                            padding: 0
                            font-size: 1.1rem
                            color: $color_b
                            text-align: center

                            &.price
                                font-size: 1.8rem
                                margin-bottom: 0.4rem
                                color: $color_c
                                display: flex
                                align-content: center
                                justify-content: center

                                span.small
                                    font-size: 1rem
                                    margin-top: 5px

                            span
                                font-weight: bold
                                text-transform: capitalize

                        .data
                            display: grid
                            grid-template-columns: repeat(2, 1fr)

                .best-seller-icon
                    position: absolute
                    right: 0
                    top: 50%
                    transform: rotate(45deg)
                    width: 80px

                .index-wrapper
                    display: flex
                    align-items: center
                    justify-content: center
                    width: 50px
                    height: 50px
                    border-radius: 100%
                    background-color: $color_c
                    position: absolute
                    top: -10px
                    left: -10px
                    margin: 0

                    .index
                        display: inline-block
                        font-size: 2.2rem
                        color: $color_a

                .checkbox
                    accent-color: $color_b
                    width: 40px
                    height: 40px
                    position: absolute
                    top: -10px
                    right: -10px
                    border-radius: 100%
                    cursor: pointer

        .disclaimer
            font-size: 1.1rem
            width: 100%
            text-align: center
            margin: 25px auto
            text-align: justify
            width: 490px

        .counter
            display: flex
            align-items: center
            justify-content: space-between
            width: 100%
            max-width: 540px
            margin: 20px auto

            .counter-number
                font-weight: bold
                font-size: 1.2rem

            a
                font-weight: bold

                &:hover
                    opacity: 0.8

        .table
            margin-top: 50px
            width: 600px
            max-width: 100%
            margin: 0 auto

            table
                width: 100%
                border: none
                border-collapse: collapse
                text-align: right

                tr
                    position: relative

                    &:hover
                        cursor: pointer

                    .product-modal
                        display: none
                        font-weight: bold

                    td.modal-row
                        width: 0
                        padding: 0

                    &:hover

                        .product-modal
                            position: absolute
                            display: block
                            width: 400px
                            z-index: 2
                            background-color: white
                            border-radius: 20px
                            overflow: hidden
                            display: flex
                            align-items: center
                            justify-content: center
                            top: 20px
                            right: 0
                            padding: 20px
                            box-shadow: 0px 1px 12px -3px black

                            img
                                width: 50%

                            p
                                font-size: 1.5rem
                                color: $color_c
                                padding-left: 10px

                                &.item
                                    font-size: 1.2rem

                td
                    padding: 0 15px

                    .product-id
                        font-weight: bold

                    a
                        color: $color_c

                    .icon
                        width: 15px

                    &.item-checkbox

                        .checkbox
                            accent-color: white
                            margin-left: 5px

                tr.best-seller
                    color: $color_a
                    background-color: $color_c
                    font-weight: bold

                    td
                        a
                            color: $color_a

                th
                    padding-bottom: 35px

                    span
                        transform: rotate(-70deg)
                        display: block
                        text-align: center

            .footer
                .tags
                    display: flex
                    align-items: center
                    justify-content: space-evenly

                    span
                        padding: 4px 15px
                        border: 1px solid $color_c

                        &.best-seller
                            color: $color_a
                            background-color: $color_c

                            .icon
                                width: 15px
                                margin-right: 5px

                .price-gap
                    text-align: right
                    font-weight: bold

        @media screen and (max-width: 1150px)
            .products
                grid-template-columns: repeat(3, 1fr)

        @media screen and (max-width: 850px)
            .products
                grid-template-columns: repeat(2, 1fr)

        @media screen and (max-width: 550px)
            .products
                grid-template-columns: repeat(1, 1fr)
                margin-right: 30px
                margin-left: 30px

            .disclaimer
                width: 90%

            .counter
                flex-direction: column
                margin-bottom: 40px

                .counter-text
                    margin: 0.3rem

        @media screen and (max-width: 470px)
            .table
                tr
                    *:nth-child(3), *:nth-child(5)
                        display: none