body {
  font-family: "Roboto Condensed", sans-serif;
  max-width: 90%;
  margin: 0 auto;
  background-color: #F1F6F9;
  color: #212A3E;
}

.debug {
  border: 1px solid red;
}

.title, h1, h2, h3, h4, h5, h6 {
  font-family: "Yeseva One", serif;
}

a {
  color: #394867;
  text-decoration: none;
}

.transparent {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

header {
  max-width: 1400px;
  margin: 0 auto;
}
header .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
header .logo-wrapper .logo {
  width: 100px;
  margin-right: 20px;
}

.center {
  text-align: center;
}

.big-text {
  font-size: 2rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F1F6F9;
}

::-webkit-scrollbar-thumb {
  background: #394867;
  margin-top: -5px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #212A3E;
}

button {
  background-color: #212A3E;
  color: #F1F6F9;
  padding: 0.8rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 15px;
  display: block;
  cursor: pointer;
  transition-duration: 0.2s;
}
button.swal2-styled {
  box-shadow: none;
}
button[disabled] {
  opacity: 0.6;
  cursor: default;
}
button:hover:not([disabled]) {
  background-color: #394867;
  box-shadow: 0 0 3px rgba(33, 42, 62, 0.8);
  transform: scale(1.05);
}
button.refresh {
  margin: 0 auto;
}
button.refresh.top {
  margin-top: 30px;
  margin-bottom: 40px;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}
main.legal {
  max-width: 1000px;
}
main .preview h2 {
  text-align: center;
  margin-bottom: 50px;
}
main .preview .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 0;
}
main .preview .products .product {
  box-shadow: 0 0 5px rgba(33, 42, 62, 0.8);
  border-radius: 1rem;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: relative;
  transition-duration: 0.3s;
}
main .preview .products .product.ad {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .preview .products .product.ad a {
  padding: 0;
  overflow: hidden;
}
main .preview .products .product.ad a img, main .preview .products .product.ad a video {
  width: 100%;
}
main .preview .products .product.ad .index-wrapper .index {
  font-size: 1.6rem;
}
main .preview .products .product.ad img {
  width: 100%;
}
main .preview .products .product:hover {
  box-shadow: 0 0 12px #212a3e;
  transform: translateY(-5px);
}
main .preview .products .product .product-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
main .preview .products .product .product-image img {
  width: 70%;
}
main .preview .products .product a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  margin: 0 auto;
  padding: 1rem;
}
main .preview .products .product a .texts {
  width: 100%;
}
main .preview .products .product a .texts p {
  margin: 0.1rem 0;
  padding: 0;
  font-size: 1.1rem;
  color: #394867;
  text-align: center;
}
main .preview .products .product a .texts p.price {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
  color: #212A3E;
  display: flex;
  align-content: center;
  justify-content: center;
}
main .preview .products .product a .texts p.price span.small {
  font-size: 1rem;
  margin-top: 5px;
}
main .preview .products .product a .texts p span {
  font-weight: bold;
  text-transform: capitalize;
}
main .preview .products .product a .texts .data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .preview .products .product .best-seller-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(45deg);
  width: 80px;
}
main .preview .products .product .index-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #212A3E;
  position: absolute;
  top: -10px;
  left: -10px;
  margin: 0;
}
main .preview .products .product .index-wrapper .index {
  display: inline-block;
  font-size: 2.2rem;
  color: #F1F6F9;
}
main .preview .products .product .checkbox {
  accent-color: #394867;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 100%;
  cursor: pointer;
}
main .preview .disclaimer {
  font-size: 1.1rem;
  width: 100%;
  text-align: center;
  margin: 25px auto;
  text-align: justify;
  width: 490px;
}
main .preview .counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 540px;
  margin: 20px auto;
}
main .preview .counter .counter-number {
  font-weight: bold;
  font-size: 1.2rem;
}
main .preview .counter a {
  font-weight: bold;
}
main .preview .counter a:hover {
  opacity: 0.8;
}
main .preview .table {
  margin-top: 50px;
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
}
main .preview .table table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  text-align: right;
}
main .preview .table table tr {
  position: relative;
}
main .preview .table table tr:hover {
  cursor: pointer;
}
main .preview .table table tr .product-modal {
  display: none;
}
main .preview .table table tr td.modal-row {
  width: 0;
  padding: 0;
}
main .preview .table table tr:hover .product-modal {
  position: absolute;
  display: block;
  width: 400px;
  z-index: 2;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 0;
  padding: 20px;
  box-shadow: 0px 1px 12px -3px black;
}
main .preview .table table tr:hover .product-modal img {
  width: 50%;
}
main .preview .table table tr:hover .product-modal p {
  font-size: 1.5rem;
  color: #212A3E;
  padding-left: 10px;
}
main .preview .table table tr:hover .product-modal p.item {
  font-size: 1.2rem;
}
main .preview .table table td {
  padding: 0 15px;
}
main .preview .table table td .product-id {
  font-weight: bold;
}
main .preview .table table td a {
  color: #212A3E;
}
main .preview .table table td .icon {
  width: 15px;
}
main .preview .table table tr.best-seller {
  color: #F1F6F9;
  background-color: #212A3E;
  font-weight: bold;
}
main .preview .table table tr.best-seller td a {
  color: #F1F6F9;
}
main .preview .table table th {
  padding-bottom: 35px;
}
main .preview .table table th span {
  transform: rotate(-70deg);
  display: block;
  text-align: center;
}
main .preview .table .footer .tags {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main .preview .table .footer .tags span {
  padding: 4px 15px;
  border: 1px solid #212A3E;
}
main .preview .table .footer .tags span.best-seller {
  color: #F1F6F9;
  background-color: #212A3E;
}
main .preview .table .footer .tags span.best-seller .icon {
  width: 15px;
  margin-right: 5px;
}
main .preview .table .footer .price-gap {
  text-align: right;
  font-weight: bold;
}
main form {
  display: flex;
  align-items: center;
  justify-content: center;
}
main form + p {
  width: 490px;
  margin: 30px auto;
  text-align: justify;
}
main form input {
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  border: 1.2px solid #212A3E;
}
main form input:focus {
  outline: none;
}
main form input[type=search] {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right-width: 0;
}
main form input[type=submit] {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #212A3E;
  color: #F1F6F9;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(33, 42, 62, 0.8);
  transition-duration: 0.2s;
}
main form input[type=submit]:hover {
  box-shadow: 0 0 6px #212a3e;
  background-color: #394867;
}
main .content {
  min-height: 58vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .content .loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
}
main .content .loading img {
  width: 100px;
}
main .content iframe {
  width: 100%;
  height: 100%;
  transition-duration: 0.2s;
  min-height: 90vh;
  margin: 50px 0;
  border-radius: 20px;
  box-shadow: 0px 1px 12px -3px black;
}

footer {
  width: 100%;
  text-align: center;
  margin: 5px 0;
  font-size: 0.8rem;
  bottom: 0;
  left: 0;
}
footer a {
  font-weight: bold;
  transition-duration: 0.2s;
}
footer a:hover {
  color: rgba(57, 72, 103, 0.7);
}
footer p {
  margin: 0;
}
footer .links {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem auto;
}
footer > * {
  margin: 0.8rem 0;
}
footer .referral {
  max-width: 90%;
  margin: 5px auto;
}
footer .referral a {
  text-decoration: underline;
}
footer .shares p {
  font-size: 1rem;
  margin: 10px;
}
footer .shares .share {
  width: 30px;
  height: 30px;
  display: inline-block;
  transition-duration: 0.1s;
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 4px;
}
footer .shares .share:hover {
  opacity: 0.5;
  transform: translateY(-2px);
  box-shadow: none;
}
footer .shares .share svg {
  width: 30px;
  height: 30px;
  fill: #212A3E;
}

button.swal2-confirm.swal2-styled {
  background-color: #394867;
}

@media screen and (max-width: 1200px) {
  body {
    max-width: 96%;
  }
}
@media screen and (max-width: 1150px) {
  main .preview .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 850px) {
  main .preview .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  footer .links {
    flex-direction: column;
    width: 100%;
  }
  footer .links a {
    padding: 5px;
  }
}
@media screen and (max-width: 550px) {
  main .preview .products {
    grid-template-columns: repeat(1, 1fr);
    margin-right: 30px;
    margin-left: 30px;
  }
  main .preview .disclaimer {
    width: 90%;
  }
  main .preview .counter {
    flex-direction: column;
    margin-bottom: 40px;
  }
  main .preview .counter .counter-text {
    margin: 0.3rem;
  }
  main form {
    flex-direction: column;
  }
  main form + p {
    width: 90%;
  }
  main form input {
    margin-bottom: 10px;
    border-radius: 10px;
    border-right-width: 1.2px;
  }
  main form input[type=search] {
    border-radius: 10px;
    border-right-width: 1.2px;
    width: 80%;
  }
  main form input[type=submit] {
    border-radius: 10px;
  }
  footer {
    position: initial !important;
  }
}
@media screen and (max-width: 470px) {
  main .preview .table tr *:nth-child(3), main .preview .table tr *:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  main form input[type=search] {
    width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */
