<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Price Checker US | Products preview</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/style.css') }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rospanoto+Condensed:wght@400;700&family=Yeseva+One&display=swap"
    rel="stylesheet">

  <style>
    body {
      background-image: url("{{ url_for('static',filename='/bg.png') }}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
  </style>

</head>

<body>

  <header class="">
    <div class="logo-wrapper">
      <img src="{{ url_for('static', filename='/logo.webp') }}" alt="Price Checker US Logo" class="logo">
      <h1>Real-time Price Checker</h1>
    </div>
    <h2 class="subtitle center">Search a product</h2>
  </header>

  <main class="">


    <form action="">
      <input type="search" name="keyword" id="keyword" placeholder="Iphone 15 Pro Max" />
      <input type="submit" value="search">
    </form>

    <p class="center">
      From a single search term, compare real-time item prices among top e-commerce sites in the USA!
      <br>
      We only present the in-stock, and non-sponsored first 10 products by store.
    </p>

    <div class="content debug">
      <div class="loading"></div>

    </div>

  </main>

  <footer>
    <p>
      Comments and suggestions:
    </p>

    <div class="email">
      <a href="mail:pricechecker.no.replay@gmail.com">
        pricechecker.no.replay@gmail.com
      </a>
    </div>

    <div class="links">
      <a href="./terms" target="_blank">
        Terms of Service
      </a>
      <a href="./privacy" target="_blank">
        Privacy
      </a>
      <a href="./cookies" target="_blank">
        Cookies
      </a>
      <p>
        © 2023 price-checker.us
      </p>
    </div>
    </p>
  </footer>
</body>

</html>