{% extends "template.html" %}

{% block extrahead %}
<style>
  body {
    background-image: url("{{ url_for('static',filename='/imgs/bg.png') }}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
</style>
{% endblock %}
{% block mainclass %}index{% endblock %}

{% block main %}

<label for="input-search">
  <h2 class="subtitle center">Type your item search term:</h2>
</label>

<form id="search-form">
  <input id="input-search" type="search" name="keyword" id="keyword" placeholder="Iphone 15 Pro Max" required title="Compare real-time item prices; type the search term!" />
  <input type="submit" value="Go!" title='Click to start comparative'>
</form>

<p>
  Note: Prices and data on our site are directly sourced from e-commerce sites in real time.
  Using the links to purchase supports us through referral fees, already included, (no extra fees),
  in item prices!
</p>

<div class="content">

  <div class="loading transparent">
    <img src="{{ url_for('static', filename='/imgs/spinner.gif') }}" alt="loading spinner">
  </div>

  <iframe class="transparent hidden" src="" frameborder="0"></iframe>

</div>
{% endblock %}

{% block script %}
<script>
  const apiKey = '{{api_key}}'
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='/code/index.js') }}"></script>
{% endblock %}