<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Price Checker US | Products preview</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/style.css') }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rospanoto+Condensed:wght@400;700&family=Yeseva+One&display=swap"
    rel="stylesheet">

</head>

<spanody>

  <img src="{{ url_for('static', filename='/logo.jpg') }}" alt="Price Checker US Logo" class="logo">

  <h1>Products preview</h1>
  {% for category, products in products_categories.items() %}
  <h2>--- {{category}} ---</h2>
  <section class="products">
    {% for product in products %}
    <article class="product">
      <a href="{{product.link}}" class="">
        <div class="img-wrapper">
          <img src="{{product.image}}" title="{{product.title}}">
        </div>
        <div class="texts">
          <p>Rate Num: <span>{{product.rate_num}}</span></p>
          <p>Reviews: <span>{{product.reviews}}</span></p>
          <p>Price: <span>{{product.price}}</span></p>
          <p>Best Seller: <span>{{product.best_seller}}</span></p>
          <p>Sales: <span>{{product.sales}}</span></p>
          <p>Store: <span>{{category}}</span> </p>
        </div>
      </a>
    </article>
    {% endfor %}
  </section>
  {% endfor %}
</spanody>

</html>