<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Price Checker US | Products preview</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/style.css') }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rospanoto+Condensed:wght@400;700&family=Yeseva+One&display=swap"
    rel="stylesheet">

</head>

<body>

  <header class="">
    <div class="logo-wrapper">
      <img src="{{ url_for('static', filename='/logo.webp') }}" alt="Price Checker US Logo" class="logo">
      <h1>Price Checker US</h1>
    </div>
  </header>

  <main class="privacy">

    <h2 class="big-text">Privacy Policy</h2>
    <p>Last updated: 24/10/2023</p>
    <p>At Price Checker US, we value your privacy and are committed to protecting your personal information. This Privacy Policy outlines our practices with respect to the collection, use, and disclosure of your personal data.</p>

    <h2>1. Information We Do Not Collect</h2>
    <p>We want to make it clear that at Price Chcker Us, we do not collect or store any personal information, including but not limited to:</p>
    <ul>
      <li>Names</li>
      <li>Addresses</li>
      <li>Phone numbers</li>
      <li>Email addresses</li>
      <li>Social security numbers</li>
      <li>Financial information</li>
    </ul>

    <h2>2. Information We Do Not Share</h2>
    <p>
      Furthermore, we do not share any personal data with third parties, partners, or affiliates. Your privacy is of utmost importance to us, and we take every measure to ensure that your information remains confidential.
    </p>

    <h2>3. Data Security</h2>
    <p>
      While we do not collect personal information, we still take the security of your visit seriously. We use industry-standard security measures to protect the information you provide to us while browsing our website.
    </p>

    <h2>
      4. Cookies
    </h2>
    <p>
      We may use cookies to enhance your user experience, but these cookies are not used to collect any personal information. You can manage your cookie preferences through your browser settings.
    </p>

    <h2>
      5. External Links
    </h2>
    <p>
      Our website may contain links to external sites. Please note that we have no control over the privacy practices of these sites, and we encourage you to review their respective privacy policies.
    </p>

    <h2>
      6. Children's Privacy
    </h2>
    <p>
      Our website is not intended for individuals under the age of 13, and we do not knowingly collect information from children.
    </p>

    <h2>
      7. Changes to This Privacy Policy
    </h2>
    <p>
      If you have any questions or concerns about our Privacy Policy, please contact us at <a href="mailto:pricechecker.no.reply@gmail.com">pricechecker.no.reply@gmail.com</a>
    </p>
  </main>
</body>

</html>